/* Google font poping */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




:root{
    /* ++ Measurement ++ */
    --header-height: 90px;
    --footer-height: 45px; 
    --header-ss-height: 30px;
    /* color */
    --header-bg-color: #221D2C;
    --background-color: black;
    --background-color1: white;
    --text-color: white;
    --from-bg-img-1: #804c22;
    --from-bg-img-2: #855db6;
    --from-bg-img-3: #c3cbd5;
    --from-bg-img-4: #af7a35;
    --from-bg-img-5: #2a2031;
    --from-bg-img-6: #687887;
    --from-bg-img-7: #98A0AF;
    --from-bg-img-8: #375A77;
    --from-bg-img-9: #433486;
    --from-bg-img-10: #0E111B;
    --from-bg-img-11: #221D2C;
    --from-bg-img-12: #040813;
    --from-bg-img-13:#3A2B46;
    --from-bg-img-14: #E6A626;
    --from-bg-img-15: #E4E7EC;
    /* Transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
    --traneo-04: all 0.4s ease-in-out;
    --background1: #264653;
    --background2: #2e5767;
    --background3: #34697e;
    --background4: #478197;
    --separator-fill: #D8A25E;

    /* ++++ Final background-color ++++ */
    --backgroud-page2: #0E111B;
    --background-form: #2E2B22;
    /* ++++ Final Measurements ++++ */
    --form-height: 50vh;

    /* font-sizes */

    --fs-xl: 5rem;
    --fs-600: 1rem;
    --fs-500: .75rem;
    --fs-400: .75rem;
    --fs-300: .50rem
}




/* width */
::-webkit-scrollbar {
    width: var(--scroller-w);
    border-radius: 10%;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    width: var(--scroller-w);
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    width: 5px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



body {
    font-size: var(--fs-400);
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-rows: var(--header-height) auto auto auto;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
        "hd hd hd hd hd hd hd hd hd"
        "mn mn mn mn mn mn mn mn mn"
        "ar ar ar ar ar ar ar ar ar"
        "ft ft ft ft ft ft ft ft ft";
    
}


.header {
    display: flex;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-bg-color);
    top: 0;
    border: 1px solid orange;
}

.header .logo {
    display: flex;
    position: relative;
    max-width: 90px;    
    height: 100%;
    object-fit: contain;
    border-radius: 10%;
}

.header .logo img {
    width: 80%;
    height: 80%;
    border-radius: 10%;
    margin-inline: auto;
    margin-block: auto;
}


.header .logo-header {
    margin-block: auto;
    min-width: 120px;
    font-size: var(--fs-400);
    position: relative;
    display: flex;
    flex-direction: column;
    left: 0;
    /* margin-inline-start: 0; */
}

.header .logo-header span {
    font-size: var(--fs-600);
}

.header .logo-header .name {
    padding-inline-end: 40px;
}

.h-box.nav {
    display: flex;
    font-size: var(--fs-500);
    display: flex;
    margin-left: auto; 
    align-items: center;
    padding-inline-end: 20px;
    transition: var(--traneo-04);
}

.nav__links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.nav__links li a{
    text-decoration: none;
    position: relative;
    height: 30px;
    color: white;
}

.nav__links li a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: var(--tran-04);
}

.nav__links li a:hover::after {
    
    width: 100%;
    
}

.hamburger {
    display: none;
    cursor: pointer;
    position: relative;
    margin-inline-start: auto;
    margin-inline-end: 15px;
    margin-block: auto ;
}

.hamburger .bar {
    height: 2px;
    width: 27px;
    background-color: #fff;
    margin: 5px 0;
    opacity: 0.8;
}

main {
    grid-area: mn;
    background-color: black;
    color: white;
    grid-template-rows: repeat(2, auto);
    grid-column: 1fr;
    
}


/* ++++ Page-1 ++++ */

.page-1 {
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    row-gap: 0px;
    max-height: calc(100vh - var(--header-height));
}

.page-1 .box:first-child {
    padding: 50px;
    font-size: 3rem;
    height: 100%;
}

.page-1 .box:first-child .heading3 {
    color: red;
}

.page-1 .box:first-child .subheading {
    font-size: 2rem;
}

.page-1 .box:first-child .typing {
    color: yellow;
}


.page-1 .box:nth-child(2) {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.page-1 .box:nth-child(2) img {

    object-fit: contain;
    height: 100%;
    max-width: 100%;
    
}

.page-1 .box:nth-child(3) {
    padding: 10px;
    position: relative;
    overflow: hidden;
    
}

.page-1 .box:nth-child(3) p {
    position: absolute;
    left: 0;
    background-color: grey;
    padding: 20px;
    border-radius: 10%;
    position: absolute;
    bottom: 30px;
    width: 50%;
    align-items: center;
    left: 25%;
}



/* ++++ Page-2 ++++ */



.page-2 {  
    background-color: var(--backgroud-page2);
    display: grid;
    grid-area: mn;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr;
    height: calc( 100dvh - var(--header-height));
    white-space: 100vw;
    padding: 20px;
    overflow: hidden;
}

.page-2 .box:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.page-2 .box:nth-child(3) {
    display: flex;
    position: relative;
}

.page-2 .box:nth-child(3) img {
    display: flex;
    position: absolute;
    bottom: -10px;
    left: 0;
    
}

/* .page-2 > *{
    border: 1px solid white;
} */



.page-2 .box:nth-child(4)  {
    padding: 40px;
    border-radius: 20px;
    padding-inline: 5vh;
    padding-block: 0vh;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--background-form);
    height: calc(var(--form-height) + 10vh)
}

/* .page-2 .box:nth-child(4) .form > * {
    border: 1px dashed darkorange;
} */

.page-2 .box:nth-child(4) .form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    height: var(--form-height);
    width: 100%;
    /* border: 1px solid yellow; */
}

.page-2 .box:nth-child(4) .form-container {
    padding: 35px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    position: relative;
    
    
}

.page-2 .box:nth-child(4) [type="text"] {
    height: 35px;
}

.page-2 .box:nth-child(4) [name="message"] {
    height: 110px;
}



.page-2 .box:nth-child(4) .form-element button {
    height: 35px;
    width: 100%;
    background: var(--from-bg-img-4)  ; 
    cursor: pointer;
    position: relative;
    margin-block-end: calc( var(--form-height) + 5vh);
}

.page-2 .box:nth-child(4) .form-heading {
    
    padding-block-start: 2vh;
    color: #fff;
    text-align: center;
}

.arrow-section {
    width: 100%;
    height: 0px;
    grid-area: ar;
    position: relative;   
}

.arrow-button {
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    position: absolute;
    bottom: 20px; 
    left: 50%;
    z-index: 1000;
    object-position: center;
    border-radius: 50%;
    transition: var(--traneo-04);
  }


/* Footer container */
.footer {
    grid-area: ft;
    height: 0px;
    position: relative; /* Allows positioning of the arrow button */
    
    background-color: transparent;
    overflow: hidden; /* Ensures the arrow doesn't get hidden */
}

/* Footer links */
.footer-container {
    display: flex;
    /* justify-content: flex-end; */
    padding-right: 45px;
}
.footer-menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.social-links {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    padding-left: 35px;
    width: 100%;
    position: relative;
    font-size: 1.3rem;
}

.social-links a {
    margin-right: 20px;
    color: #804c22;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.footer-links a {
    color: white;
    text-decoration: none;
}


@media (max-width: 420px) {
    :root {
        --fs-xl: 1.5rem;
        --fs-600: 1rem;
        --fs-500: .75rem;
        --fs-400: .75rem;

        /* ++++transition+++++ */
        /* Transition */
        --tran-02: all 0.2s ease;
        --tran-03: all 0.3s ease;
        --tran-04: all 0.4s ease;
        --tran-05: all 0.5s ease;
        --traneo-01: all 1s ease-in-out;
    }

    .header {
        display: flex;
        position: fixed;
        background-color: var(--header-bg-color);
    }
    .nav--open {
        transform: translateX(0) !important;
    }
    .header .nav {
        position: fixed;
        top: var(--header-height);
        background-color: var(--from-bg-img-11);
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
        transition: var(--tran-03);
    }

    .header .nav .nav__links {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: 100%;
        align-items: center;
    }
    .hamburger--open .bar:nth-child(1) {
        transform: translateY(4px) rotate(45deg);
    }
    .hamburger--open .bar:nth-child(2) {
        display: none;
    }
    .hamburger--open .bar:nth-child(3) {
        transform: translateY(-4px) rotate(-45deg);
    }
    .hamburger {
        display: block;
    }
    /* ++++++Page-01+++++++ */
    .page-1 {
        display: flex;
        position: relative;
        max-height: auto;
        flex-direction: column;
        padding: 0;
        height: calc( 100 - var(--header-height));
    }

    .page-1 .box:first-child {
        padding: 20px;
        font-size: var(--fs-600);
    }

    .page-1 .box:first-child .subheading {
        font-size: var(--fs-xl);
    }
    
    .page-1 .box:nth-child(2) {
        overflow: hidden;
        height: 25vh;
        padding-left: 35px;
    }
    .page-1 .box:nth-child(2) img {
        object-fit: contain;
        height: 100%;
        max-width: 100%;
    }

  
    .page-1 .box:nth-child(3) {
        padding: 0px;
        position: relative;
        min-height: 50vh;
        overflow: hidden;
    }
    .page-1 .box:nth-child(3) p {
        display: flex;
        padding: 10px;
        position: relative;
        background-color: var(--from-bg-img-11);
        border-radius: 20px;
        min-width: 80%;
        margin-inline-start: -50px;
        margin-block-start: 50px;
    } 

    .page-2 > * {
        border: yellow 1px solid;
    }
    
    .page-2 {
        display: flex;
        flex-direction: column;
        grid-area: mn;
        gap: 10px;
        overflow: hidden;
        
    }
    
    .page-2 .box:nth-child(1) {
        display: none;
    }

   .page-2 .box:nth-child(2) {
    display: flex;
    flex-direction: column;

   }
   .page-2 .box:nth-child(3) {
    display: none;
   }

   .page-2 .box:nth-child(4){
    margin-inline: auto;
    width: 80%;
   }
   
    
    

}