<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <title>Portfolio</title>
    <!-- <link href="{{ url_for('static', path='css/portfolio.css') }}" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://myportfolio-95815450908.us-west1.run.app/static/css/portfolio.css">
    

</head>
<body>
    <!-- new -->
    <header class="header">
        
        <div class="h-box logo">            
            <img src="{{ url_for('static', path='img/img5.png') }}" alt="logo">
        </div>
        
        <div class="h-box logo-header">
            <span class="name">MyLab</span>
            <span class="profession">Data Science</span>
        </div>

        <nav class="h-box nav">
            <ul class="nav__links">
                <li><a class="home-button" href="/"> Home</a></li>
                <li><a class="skills-button" href="#skills">Skills</a></li>
                <li><a class="achievements-button" href="#achievements" class="active">Certificates </a></li>
                <li><a class="projects-button" href="#projects">Projects</a></li>
                <li><a class="contact-button" href="/#page-2">Contact</a></li>
            </ul>
        </nav>
        
        <div class="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </header>

    

    <main class="pf-pages">
        <section class="page page-1" id="skills">
            <h3 class="h3 el">SKILLS</h3>
            <div class="content el">
                <ul class="container left-section">
                    
                    <li class="cat-heading">Programming & Development</li>
                    <li class="skill">
                        <span class="skill-name">Python</span>
                        <div class="stars">
                            <span class="five-star"></span>
                        </div>
                    </li>
                        
                    <li class="skill">
                        <span class="skill-name">R</span>
                        <div class="stars">
                            <span class="three-star"></span>
                        </div>
                    </li>

                    <li class="skill">
                        <span class="skill-name">SQL</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>
                
                    <li class="skill">
                        <span class="skill-name">JavaScript</span>
                        <div class="stars">
                            <span class="three-star"></span>
                        </div>
                    </li>

                    <li class="skill">
                        <span class="skill-name">HTML</span>
                        <div class="stars">
                            <span class="three-star"></span>
                        </div>
                    </li>

                    <li class="skill">
                        <span class="skill-name">CSS</span>
                        <div class="stars">
                            <span class="three-star"></span>
                        </div>
                    </li>

                    <li class="skill">
                        <span class="skill-name">Jenkins</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>

                    <li class="skill">
                        <span class="skill-name">YAML</span>
                        <div class="stars">
                            <span class="three-star"></span>
                        </div>
                    </li>

                    <li class="skill">
                        <span class="skill-name">Git</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>
                    <li class="skill">
                        <span class="skill-name">Docker</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>

                    <li class="skill">
                        <span class="skill-name">Linux</span>
                        <div class="stars">
                            <span class="five-star"></span>
                        </div>
                    </li>

                    <li class="cat-heading">Machine Learning & AI</li>
                        
                    <li class="skill">
                        <span class="skill-name">LangChain</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>

                    <li class="skill">
                        <span class="skill-name">LlamaIndex</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>

                    <li class="skill">
                        <span class="skill-name">XGBoost</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>

                    <li class="skill">
                        <span class="skill-name">Random Forest</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>

                    <li class="skill">
                        <span class="skill-name">Gradient Boosting Machines</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>

                    <li class="skill">
                        <span class="skill-name">Classification</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>

                    <li class="skill">
                        <span class="skill-name">Clustering</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>

                    <li class="skill">
                        <span class="skill-name">RAG Tokenization</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>

                    <li class="cat-heading">Statistical Analysis</li>
                        
                    <li class="skill">
                        <span class="skill-name">Hypothesis Analysis</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>

                    <li class="skill">
                        <span class="skill-name">A/B Testing</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>

                    <li class="skill">
                        <span class="skill-name">Time Series Analysis</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>

            
                </ul>

                <ul class="container right-section">

                    <li class="cat-heading">Data Engineering</li>
                    
                    <li class="skill">
                        <span class="skill-name">PySpark</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>
                    <li class="skill">
                        <span class="skill-name">Data Cleaning</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>
                    <li class="skill">
                        <span class="skill-name">Feature Engineering</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>
                    <li class="skill">
                        <span class="skill-name">Data Modelling</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>
                    <li class="skill">
                        <span class="skill-name">Data Warehousing</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>
                    <li class="skill">
                        <span class="skill-name">SQL Queries</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>
                   
                    <li class="cat-heading">Data Visualization</li>
                    
                    <li class="skill">
                        <span class="skill-name">Tableau</span>
                        <div class="stars">
                            <span class="three-star"></span>
                        </div>
                    </li>
                    
                    <li class="skill">
                        <span class="skill-name">Power BI</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>

                    <li class="skill">
                        <span class="skill-name">Qlik Sense</span>
                        <div class="stars">
                            <span class="three-star"></span>
                        </div>
                    </li>

                
                    <li class="cat-heading">Problem-Solving & Critical Thinking</li>
                    
                    <li class="skill">
                        <span class="skill-name">Developing Strategies</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>
                    
                    <li class="skill">
                        <span class="skill-name">Data Interpretation</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>

                    <li class="skill">
                        <span class="skill-name">Gathering Business Requirements</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>

                    

                    <li class="cat-heading">Workflow Automation</li>
                    
                    <li class="skill">
                        <span class="skill-name">Git Actions</span>
                        <div class="stars">
                            <span class="four-star"></span>
                        </div>
                    </li>

                </ul>
            </div>   
        </section>

        <section class="page page-2" id="achievements">
            
            <div class="top container"> Recent Courses & Certificates </div>
            
            <div class="button left-button container"><i class="fa fa-angle-left" ></i></div>
            
            <div class="certificates container">
                <div class="item CC001">
                    
                    <img src="/static/img/portfolio/Certificates/AWS-Cloud Practioner.png" alt=""> 
                    
                    <div class="layer">
                        <h3>AWS-Cloud Practioner</h3>
                        <a href="https://www.credly.com/badges/3922213e-08f1-4b30-b35f-1db48017c68f/public_url" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                    
                </div>

                <div class="item CC002">
                    <img src="/static/img/portfolio/Certificates/Associate Data Scientist.png" alt=""> 
                    
                    <div class="layer">
                        <h3>Associate Data Scientist</h3>
                        <a href="https://www.datacamp.com/completed/statement-of-accomplishment/track/56c9c005f8378bdce7e344fbf85e9c9b3571fcac" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="item CC003">
                    <img src="/static/img/portfolio/Certificates/Data Cleaning Google.png" alt=""> 
                    
                    <div class="layer">
                        <h3>Data Cleaning </h3>
                        <a href="https://www.coursera.org/account/accomplishments/certificate/F7YN2GSZPRUC" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="item CC004">
                    <img src="/static/img/portfolio/Certificates/SupervisedLearningSciKit.png" alt=""> 
                    
                    <div class="layer">
                        <h3>Supervised Learning (scikit-learn)</h3>
                        <a href="https://www.datacamp.com/statement-of-accomplishment/course/8f5411d89db81c7c3aab55cfa5900fbc07b7626c?raw=1" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="item CC005">
                    <img src="/static/img/portfolio/Certificates/Advanced Learning Algorithms.png" alt=""> 
                    
                    <div class="layer">
                        <h3>Advanced Learning Algorithms</h3>
                        <a href="https://www.coursera.org/account/accomplishments/certificate/ZG46NV6OMDUO" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="item CC006">
                    <img src="/static/img/portfolio/Certificates/ MS-Azure.png" alt=""> 
                    
                    <div class="layer">
                        <h3>Microsoft Azure Cloud Services</h3>
                        <a href="https://www.coursera.org/account/accomplishments/certificate/2BTHV2NRXCPA" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="item CC007">
                    <img src="/static/img/portfolio/Certificates/AccountingFundamentals.png" alt=""> 
                    
                    <div class="layer">
                        <h3>CFI Accounting Fundamentals</h3>
                        <a href="https://credentials.corporatefinanceinstitute.com/7ccacb22-37a8-409f-bdf5-b04b0629e129#acc.xd0gcX1w" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="item CC008">
                    <img src="/static/img/portfolio/Certificates/HypothesisTesting.png" alt=""> 
                    
                    <div class="layer">
                        <h3>Hypothesis Testing</h3>
                        <a href="https://www.datacamp.com/completed/statement-of-accomplishment/course/5506e2f73a9cf482a9c3a19d85a22a468aed0dd9" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="item CC009">
                    <img src="/static/img/portfolio/Certificates/ArimaModel.png" alt=""> 
                    
                    <div class="layer">
                        <h3>Arima Model</h3>
                        <a href="https://www.datacamp.com/completed/statement-of-accomplishment/course/bd9fad9196957a4e47b53a58aeecf82122fd2847" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="item CC010">
                    <img src="/static/img/portfolio/Certificates/ CI-CD.png" alt=""> 
                    
                    <div class="layer">
                        <h3>CI/CD for ML</h3>
                        <a href="https://www.datacamp.com/completed/statement-of-accomplishment/course/2b13faa02534afc93612e6704bc643fc4cbb38a0" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="item CC001">
                    <img src="/static/img/portfolio/Certificates/Docker.png" alt=""> 
                    
                    <div class="layer">
                        <h3>Docker</h3>
                        <a href="https://www.datacamp.com/completed/statement-of-accomplishment/course/760a1580b5f8c157d2ff47a3ef46639cf97ed2fc" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="item CC002">
                    <img src="/static/img/portfolio/Certificates/DataVizMatplotlib.png" alt=""> 
                    
                    <div class="layer">
                        <h3>Data Visualization With Matplotlib</h3>
                        <a href="https://www.datacamp.com/completed/statement-of-accomplishment/course/211aa386fe612191dcf019f160b14664f54b62e4" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="item CC003">
                    <img src="/static/img/portfolio/Certificates/Machine Learning.png" alt=""> 
                    
                    <div class="layer">
                        <h3>Machine Learning</h3>
                        <a href="https://www.coursera.org/account/accomplishments/certificate/2UON8KMHMDFB" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
                <div class="item CC004">
                    <img src="/static/img/portfolio/Certificates/PySparkAndPython.png" alt=""> 
                    
                    <div class="layer">
                        <h3>PySpark and Python</h3>
                        <a href="https://www.udemy.com/certificate/UC-44a324c3-449a-4ea8-b391-67082b4836a3" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div> 
                
            </div>

            <div class="button right-button container"><i class="fa fa-angle-right"></i></div> 
        </section>

        <section class="page page-3" id="projects">
            <div class="header">Recent Projects</div>
            <div class="project project-001">
                <h3>Cancer Prediction using Neural Networks</h3>
                <div class="img">
                    <img src="/static/img/portfolio/projects/CancerPrediction.png" alt="Cancer Predicition">
                </div>

                <div class="link">
                    <a href="/CancerPrediction-Intro" target="_blank" rel="noopener noreferrer" ><i class="fas fa-external-link-alt"></i></a>
                </div>

            </div>
            <div class="project project-002">
                <h3>Cold Email</h3>
                <div class="img">
                    <img src="/static/img/portfolio/projects/ColdEmail.webp" alt="Cold Email">
                </div>
                <div class="link">
                    <a href="/ColdEmail-Intro" target="_blank" rel="noopener noreferrer" ><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
            <div class="project project-003">
                <h3>Custom Hand Gesture Detection with YOLO</h3>
                <div class="img">
                    <img src="/static/img/portfolio/projects/Object-detection.png" alt="Object-detection">
                </div>

                <div class="link">
                    <a href="/ObjDetection-Intro" target="_blank" rel="noopener noreferrer" ><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
            <div class="project project-004">
                <h3>The GraphRAG ChatBot</h3>
                <div class="img">
                    <img src="/static/img/portfolio/projects/chatbot.avif" alt="Chatbot">
                </div>

                <div class="link">
                    <a href="/ChatBot-Intro" target="_blank" rel="noopener noreferrer" ><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
            
        </section>  
    </main>

    <div class="arrow-section">
       
        <button id="arrow-button" class="arrow-button">&#x2191;</button>
    </div>

    <footer class="footer">
        
        <div class="footer-container">
            <div class="social-links">
                <ul class="social-media">
                    <a href="https://github.com/DebugJedi" target="_blank" rel="noopener noreferrer" ><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/priyank-rao/" target="_blank" rel="noopener noreferrer" ><i class="fa-brands fa-linkedin-in"></i></a>
                </ul>
            </div>
            <div class="footer-menu">
                <ul class="footer-links">
                    <li><a class="home-button footernav" href="/"> Home</a></li>
                    <!-- <li><a class="about-button footernav" href="/about" class="active"> About</a></li> -->
                    <li><a class="portfolio-button footernav" href="/portfolio"> Portfolio</a></li>
                    <li><a class="contact-button footernav" href="#page-2"> Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1/bundled/lenis.min.js"></script>
    <script src="/static/js/portfolio.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>    
    
</body>
</html>